version: '3.8'

services:
  kafka:
    image: ubuntu/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    volumes:
      - kafka_data:/var/lib/kafka/data

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=integration_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  kafka_data:
  postgres_data:
